.btn {
  background-color: var(--color-primary);
  display: block;
  color: var(--color-tertiary);
  padding: 0.5rem 2rem;
  transition: background-color 0.3s ease-out;
  border: 1px solid var(--color-tertiary);
}
.btn :hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
